<!DOCTYPE html>
<html>
    <head>
        <title>write page</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <form action="/<%= post_id %>" method="post">
            <table border="1">
                <tr>
                    <td>작성자</td>
                    <td><input type="text" name="writer_id" /></td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td><input type="text" name="post_title" /></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td><input type="text" name="post_content" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">글쓰기</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
